<div class="ui grid post-card info secondary">
    <div class="two wide column">
        <a class="back" href="/">
            <img src="/assets/svg/back.svg" style="">
        </a>
    </div>
    <div class="thirteen wide column content">
        <a class="btn stroke" href="/ask">
            Ask a question
        </a>
        <a class="btn stroke" href="/contributors">
            Contributors
        </a>
        <a class="btn stroke" href="/about">
            About us
        </a>
    </div>
    <div class="one wide column">
    </div>
</div>