<div class="ui stackable grid post-card info">
    <div class="two wide computer tablet only column logo">
        <a href="//thesign.al">
            <img class="ui image right floated" src="/assets/svg/thesignal.svg">
        </a>
    </div>

    <div class="mobile only column logo">
        <a href="//thesign.al">
            <img class="ui image left floated" src="/assets/svg/thesignal.svg">
        </a>
    </div>

    <div class="eleven wide column content">
        <div class="text">
            RealTalk Penn<span class="primary subscript"> beta</span> {{@blog.description}}
        </div>
        <a class="btn stroke" href="/ask">
            Ask a question
        </a>
        <a class="btn bg" href="/contributors">
            Contributors
        </a>
        <a class="btn bg" href="/about">
            About us
        </a>

    </div>
    <div class="one wide column">
    </div>
</div>
