<div class="ui stackable grid post-card info">
    <div class="two wide computer tablet only column logo">
        <a href="//thesign.al">
            <img class="ui image right floated" src="{{asset '/svg/thesignal.svg'}}">
        </a>
    </div>

    <div class="mobile only column logo">
        <a href="//thesign.al">
            <img class="ui image left floated" src="{{asset 'svg/thesignal.svg'}}">
        </a>
    </div>

    <div class="eleven wide column content">
        <div class="text">
            RealTalk Penn<span class="primary subscript"> beta</span> is an anonymous Q&A forum for
            Penn students by The Signal + Friends. Our contributors are Penn undergraduates who do their best to answer
            your questions. We're not officially affiliated with the University of Pennsylvania.
        </div>
        <a class="btn stroke" href="/ask">
            Ask a question
        </a>
        <!--<a class="btn stroke" href="/subscribe">-->
        <!--Get our newsletter-->
        <!--</a>-->

        <script>
            (function () {
                var cx = '005730718823394893310:mmvujf7izya';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>

        <!--<a class="btn bg" href="https://fb.me/realtalkpenn" target="_blank">-->
        <!--Facebook-->
        <!--</a>-->
        <a class="btn bg" href="/contributors">
            Contributors
        </a>
        <a class="btn bg" href="/about">
            About us
        </a>

        <div style="margin-top: 40px"></div>

    </div>
    <div class="one wide column">
    </div>
</div>
