<div class="ui grid post-card info">
    <div class="two wide column">
        <a href="//thesign.al">
            <img src="/assets/svg/thesignal.svg" style="float: right">
        </a>
    </div>
    <div class="thirteen wide column content">
        <div class="text">
            RealTalk Penn<span class="primary subscript"> beta</span> {{@blog.description}}
        </div>
        <a class="btn stroke" href="/ask">
            Ask a question
        </a>
        <a class="btn bg" href="/about">
            About us
        </a>

    </div>
    <div class="one wide column">
    </div>
</div>