<div class="ui grid post-card info">
    <div class="two wide column">
        <a href="/">
            <img src="/assets/svg/back.svg" style="float: right; margin-top: 10px;">
        </a>
    </div>
    <div class="thirteen wide column content">
        <a class="btn stroke" href="/ask">
            Ask a question
        </a>
        <a class="btn stroke" href="/about">
            About us
        </a>
    </div>
    <div class="one wide column">
    </div>
</div>