<div class="ui stackable grid post-card info secondary">
    <div class="two wide computer tablet only column">
        <a class="back" href="/">
            <img class="ui image right floated" src="/assets/svg/back.svg">
        </a>
    </div>
    <div class="two wide mobile only column">
        <a class="back" href="/">
            <img class="ui image left floated" src="/assets/svg/back.svg">
        </a>
    </div>

    <div class="thirteen wide column content">
        <a class="btn stroke" href="/ask">
            Ask a question
        </a>
        <a class="btn stroke" href="/contributors">
            Contributors
        </a>
        <a class="btn stroke" href="/about">
            About us
        </a>
    </div>
</div>