<!--<div class="segment {{^is "tag"}} visible {{/is}} {{#has slug="academics"}} visible {{/has}}">-->

<div class="step left hidden" style="float: left">
    <img src="/assets/svg/step-left.svg">
</div>

<div class="step right hidden" style="float: right">
    <img src="/assets/svg/step-right.svg">
</div>

<div class="segment visible">
  <div class="container">
      <a class="btn short bg {{#has slug="academics"}} selected {{/has}}" href="/tag/academics">
          #academic
      </a>
      <a class="btn short bg {{#has slug="extracurricular"}} selected {{/has}}" href="/tag/extracurricular">
          #extracurricular
      </a>
      <a class="btn short bg {{#has slug="social"}} selected {{/has}}" href="/tag/social">
          #social
      </a>
      <a class="btn short bg {{#has slug="professional"}} selected {{/has}}" href="/tag/professional">
          #professional
      </a>
      <a class="btn short bg {{#has slug="other"}} selected {{/has}}" href="/tag/other">
          #other
      </a>
  </div>
</div>
