{{!< default}}

<div class="error-container">
    <div class="icon">🙃</div>
    <div class="title">I cannot tell you. It's confidential.</div>
    <div class="description">We purposefully discourage indexing by authors.</div>
    <a class="error-link" href="{{@site.url}}"></a>
</div>