{{!< default}}

<div class="error-container error-container-404">
    <div class="icon">😩</div>
    <div class="title">It's not true. It's bulls**t. I did noooot.</div>
    <div class="description">
        This page cannot be found.
    </div>
    <a class="error-link" href="{{@site.url}}"></a>
</div>

        <!--{{#if errorDetails}}-->
<!--<div class="post-content-body">-->
<!--<section class="error-stack">-->
<!--<h3>Theme errors</h3>-->
<!--<ul class="error-stack-list">-->
        <!--{{#each errorDetails}}-->
<!--<li>-->
<!--<em class="error-stack-function">{{{rule}}}</em>-->

        <!--{{#each failures}}-->
<!--<p><span class="error-stack-file">Ref: {{ref}}</span></p>-->
<!--<p><span class="error-stack-file">Message: {{message}}</span></p>-->
        <!--{{/each}}-->
<!--</li>-->
        <!--{{/each}}-->
<!--</ul>-->
<!--</section>-->
<!--</div>-->
        <!--{{/if}}-->
