{{!< default}}

{{> info-card-secondary}}

<div class="ui relaxed grid about">
    <div class="ui one wide column"></div>
    <div class="ui fourteen wide column">
        {{#post}}
            {{content}}
        {{/post}}
    </div>
    <div class="ui one wide column"></div>
</div>