{{!< default}}

{{> info-card-secondary}}

<div class="ui centered relaxed grid about">
    <div class="ui fourteen wide computer fourteen wide tablet fifteen wide mobile column">
        {{#post}}
            {{content}}
        {{/post}}
    </div>
</div>